.add-project {
  padding: 7px 14px;
  font-weight: 600;
  // &:hover {
  //   background: #0073ae;
  //   border: 1px solid #1f6ce7;
  //   box-shadow: none !important;
  // }
}

.offcanvas-header {
  border-bottom: 1px solid #e6e6e6;
}

.b-popup {
  border: 1px solid #e9eef2;
}

.form-popup {
  label {
    font-size: small;
  }
}

.search-p {
  border: 1px solid #ccc;
  border-radius: 4px;
  .input-group {
    input {
      padding: 5px 10px;
      border: none;
      box-shadow: none;
      &:focus {
        box-shadow: none !important;
        outline: none;
      }
    }
  }
}

.flex-table-header,
.flex-table-row {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.flex-table-cell {
  flex: 1 1 0;
  padding: 0 10px;
  min-width: 0;
  // overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  display: flex;
  // white-space: nowrap;
  // justify-content: center;
}

.flex-table-header {
  background: #0073ae;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  font-size: small;
}
.flex-table-row {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
  transition: box-shadow 0.2s;
}

.list-exp {
  .flex-table-cell:first-child {
    flex: 0 0 40px;
    max-width: 40px;
    padding-left: 0;
  }
}



.flex-table-cell:first-child {
  // flex: 0 0 40px;
  // max-width: 40px;
  // padding-left: 0;
}

.flex-table-meta {
  border-radius: 0 0 8px 8px;
  margin-top: -10px;
  margin-bottom: 15px;
  padding: 12px 56px;
  display: none;
}

.flex-table-cell[aria-expanded="true"] .chevron-toggle {
  transform: rotate(90deg);
}
.flex-table-header .sortable.sorted-asc i {
  color: #ffc107;
  transform: rotate(180deg);
}
.flex-table-header .sortable.sorted-desc i {
  color: #ffc107;
}

.project-b {
  background-color: #f2f2f2;
  border: 1px solid #e9e9e9;
}

.btn-b {
  // border: 1px solid #0073ae;
  // color: #0073ae;
  // font-weight: 600;
  // &:active {
  //   background-color: #0073ae;
  //   color: #0073ae;
  // }
  // &:hover {
  //   background-color: #0073ae;
  //   color: #fff;
  //   box-shadow: none !important;
  // }
}

.project-dropdown {
  padding: 5px;
  .dropdown-item {
    padding: 5px 0px 5px 5px;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.more-detail {
  i {
    cursor: pointer;
  }
}

.project-dashboard {
  border-bottom: 1px solid #e6e6e6;
  a {
    border-radius: 45px;
    padding: 6px 15px;
    font-size: $font-size-sm;
  }
}
